/* src/styles/board.css */
.board {
    display: grid;
    gap: 2px;
}

.board-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
}


.board-cell.clickable {
    cursor: pointer;
}

.board-cell.laser { background-color: #f88; }
.board-cell.highlight { background-color: #aaf;}
.board-cell.default { background-color: #fff; }

.board-cell.highlight .piece {
    background-color: transparent !important;
}

.board-cell.disabled {
    filter: brightness(1.08);     /* slightly lighter */
}

/* Player1 safe tiles → light blue */
.board-cell.disabled.player1 {
    background-color: #cfe2ff;
}

/* Player2 safe tiles → light red */
.board-cell.disabled.player2 {
    background-color: #ffd6d6;
}


.explosion {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, orange, red, transparent);
    animation: explode 0.3s ease-out forwards;
    pointer-events: none;
}

@keyframes explode {
    from {
        transform: scale(0.3);
        opacity: 1;
    }
    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

