/* src/styles/board.css */
.board {
    display: grid;
    gap: 2px;
}

.board-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.board-cell.clickable {
    cursor: pointer;
}

.board-cell.laser { background-color: #f88; }
.board-cell.highlight { background-color: #aaf; }
.board-cell.default { background-color: #fff; }
