.piece {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 2px solid black;
    box-sizing: border-box;
    pointer-events: none;
}

.player1 { background-color: #00f; }
.player2 { background-color: #f00; } 


.pyramid.leftdown { clip-path: polygon(100% 0%, 100% 100%, 0% 0%); }
.pyramid.rightdown { clip-path: polygon(0% 0%, 0% 100%, 100% 0%); }
.pyramid.leftup { clip-path: polygon(100% 0%, 0% 100%, 100% 100%); }
.pyramid.rightup { clip-path: polygon(0% 0%, 100% 100%, 0% 100%); }


.pharaoh { border-radius: 50%; }


.anubis {
    border: 2px solid black;
    position: relative;
    width: 32px;
    height: 32px;
}


.anubis.up {
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
}


.anubis.right {
    clip-path: polygon(70% 0%, 100% 50%, 70% 100%, 0% 100%, 0% 0%);
}


.anubis.down {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}


.anubis.left {
    clip-path: polygon(0% 50%, 30% 0%, 100% 0%, 100% 100%, 30% 100%);
}

/* Sphinx */
.sphinx {
    position: relative;
    width: 46px;
    height: 23px;
}
.sphinx::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 10px;
    background: #999;
    border-radius: 8px 8px 0 0;
    left: 50%;
    bottom: calc(100% - 2px);
    transform: translateX(-50%);
}

.sphinx::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 6px red;
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
}

.sphinx.up {
    transform: rotate(0deg);
}
.sphinx.down {
    transform: rotate(180deg);
}
.sphinx.right {
    transform: rotate(90deg);
}
.sphinx.left {
    transform: rotate(270deg);
}



/* Scarab Piece */
.scarab {
    background: transparent;
    border: none;
    position: relative;
}

.scarab::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.scarab.rightup::before {
    transform: translateY(-50%) rotate(45deg);
}

.scarab.leftup::before {
    transform: translateY(-50%) rotate(-45deg);
}

.scarab.player1::before { background-color: #00f; }
.scarab.player2::before { background-color: #f00; }
